*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
    background-color: rgb(223, 223, 223);
}

.header-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFB344; /*f6bd60*/
}

.nav{
    /* justify-content: space-between; */
    padding: .5rem 1rem .5rem;
}

.ul-header{
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.svg-logo{
    width: auto;
    height: 10vh;
}
.ul-header a{
    text-decoration: none;
    color: #f7ede2;
    font-size: 1.5rem;
    margin-right: 1rem;
}


.hero-image{
    background-image: url("../assets/img/alvan-nee-T-0EW-SEbsE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}
.hero-image div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    text-align: center;
    color: #f7ede2;
    background-color: rgba(0, 0, 0, .50);
}
h1{
    font-size: 4rem;
    margin: 0;
}

footer{
    background-color: #FFB344; /*FFB344*/
}

.texto{
    font-size: 1.3rem;
    margin: 1rem;
    font-family: 'Noto Serif', serif;

}

.titulo-servicio{
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

.img-contenedor{
    padding: .5rem;
}

.img-servicios{
    max-width: 100%;
    height: auto;
    width:auto;
    border-radius: 50%;
}
.servicio-margin-bottom{
    margin-bottom:16px;
}
.link-botton{
    display: block;
    background-color: #ef476f;
    text-align: center;
    color:rgb(228, 228, 228);
    font-size: 1.5rem;
    padding: .5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-weight: normal;
    border-radius: 5px;
    border: none;

}

.contacto-contenedor{
    display: flex;
    flex-direction:column;
}


.contacto-contenedor-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacto-contenedor-2 a{
    color: #FFF8E5;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 16px;
    
}

.footer{
    padding: 10px;
}
.items-2{
    text-align: center;
    flex-basis: 100%;
}

.footer-title{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #FFF8E5;
    font-weight: bold;
}

.items-2 p{
    font-family: 'Noto Serif', serif;
}

.contacto-contenedor p{
    color: #fff;
    font-size: 1.1rem;
}

@media screen and (min-width:1024px) {
    .header-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .svg-logo{
        margin-left: 1rem;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
    }
    .nav li{
        padding: .5rem;
        /* font-size: 1.2rem; */
    }
    .ul-header a:hover{
        text-decoration: underline;
        color: #FFF8E5;
    }
    h1{
        font-size: 5vw;
    }

    .contenedor-1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 1.5rem;
    }

    .servicio{
        flex: 0 0 50%;
        text-align: center;
    }

    /* segundo contenedor */
    .contenedor-2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .flex-flow-reverse{
        flex-flow: row-reverse;
    }

    .img-servicios{
        max-width: 100%;
        height: 500px;
        width:auto;
        border-radius: 50%;
    }
    
    .link-botton{
        width: 30%;
        border-radius: 10px;
        padding: 16px;
    }
    
    .link-botton:hover{
        text-decoration: underline;
        color: #fff;
    }

    .link-botton:active{
        background-color: #e7355e;
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contacto-contenedor,
    .contacto-contenedor-2{
        flex-basis: 50%;
    }
    
    .items-2{
        text-align: center;
        padding: 16px;
    }

    .contacto-contenedor-2 a{
        color: #FFF8E5;
        display: inline-block;
        margin: 10px;
        margin-right: 3rem;
        font-size: 1.5rem;
        
    }
    .contacto-contenedor p{
        font-size: 1.2rem;
    }

    .contacto-contenedor-2 a:hover{
        color: #E05D5D;
        text-decoration: underline;
    }
    .footer-title{
        text-align: center;
    }
}